/* {
    border: 2px solid red;
}
*/

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div .flexb {
    display: flexbox;
    flex: 1;
    background-color: rgb(241, 178, 199);
    
}

.banner {
    width: 100%;
    height: 20em;
    border-radius: 20px;
    border: 4px solid white;
}

.blocktwo {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 50vh;
    overflow: auto;
    flex-direction: row;
    padding-top: 40px;
    
    
}

.ingredients {
    background-color: rgb(241, 178, 199);
    
}

.blocktwo .time {
    width: 30%;
    height: 50%;
    margin: 5px;
    background-color: rgb(241, 178, 199);
    border-radius: 20px;
    padding-bottom: 20px;
    border: 4px solid white;
    
    
}



.blocktwo .ingredients {
    width: 60%;
    height: 80%;
    margin: 5px;
    background-color: rgb(241, 178, 199);
    padding: 20px;
    border: 4px solid white;
    
}

.steps {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 80vh;
    overflow: auto;
    flex-direction: column;

}

.stepone {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 90%;
    height: 33%;
    overflow: auto;
    flex-direction: row;
    
    
}

.steponetext {
    width: 80%;
    height: 80%;
    margin: 5px;
    background-color: rgb(241, 178, 199);
    
    
}

.steponeimg {
    width: 30%;
    height: 50%;
    margin: 5px;
    
    
}

.credits {
    text-align: center;
}

body {
    margin-left: 5em;
    margin-right: 5em;
    background-image: url("img/bg.jpg");
}

.preparation {
    
    background-color: rgb(241, 178, 199);
    font-size: 32px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0px;
    border: 4px solid white;

}

.cooktime {
    text-align: center;
    font-size: 32px;
    border: 4px solid white;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.timetittle {
    font-size: 24px;
    margin-left: 20px;
}

label{
    font-size: 24px;
    padding: 20px;
}

input{
    padding: 20px;
}

h1 {
    background-color: rgb(241, 178, 199);
}

.prep {
    padding: 20px;
    margin-left: 30px;
}

.maintittle {
    border: 4px solid white;
    padding-left: 20px;
}

.numimg {
    border: 4px solid white;
}

.credits {
    color: white;
    
}
